pandas~=2.2
requests~=2.32
beautifulsoup4~=4.12
SQLAlchemy~=2.0
psycopg2-binary~=2.9
gspread>=6.0.0
google-auth~=2.28
google-api-python-client~=2.126
python-dotenv~=1.0
# For testing
pytest~=7.4
pytest-cov~=5.0
requests-mock~=1.11